@import "./common/var.css";

@b mz {
    @e loading {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 1000;
        left: 0;
        top: 0;
        @m item {
            min-width: 120px;
            max-width: 200px;
            min-height: 100px;
            background-color: white;
            border-radius: 20px;
            color: var(--color-base-black);
            padding: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }
        @m icon{
            width: 30px;
            height: 30px;
            font-size: 30px;
        }
        @m loader {
            width: 30px;
            height: 30px;
            font-size: 10px;
            text-indent: -9999em;
            border-radius: 50%;
            background: var(--color-primary);
            background: -moz-linear-gradient(left,
            var(--color-primary) 10%,
                    rgba(255, 255, 255, 0) 42%);
            background: -webkit-linear-gradient(left,
            var(--color-primary) 10%,
                    rgba(255, 255, 255, 0) 42%);
            background: -o-linear-gradient(left, var(--color-primary) 10%, rgba(255, 255, 255, 0) 42%);
            background: -ms-linear-gradient(left,
            var(--color-primary) 10%,
                    rgba(255, 255, 255, 0) 42%);
            background: linear-gradient(to right,
            var(--color-primary) 10%,
                    rgba(255, 255, 255, 0) 42%);
            position: relative;
            -webkit-animation: load3 1.4s infinite linear;
            animation: load3 1.4s infinite linear;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
        }
        @m loader:before {
            width: 50%;
            height: 50%;
            background: var(--color-primary);
            border-radius: 100% 0 0 0;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
        }
        @m loader:after {
            background: var(--color-white);
            width: 75%;
            height: 75%;
            border-radius: 50%;
            content: '';
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        @m text{
            margin: 15px 0 0 0;
            font-size: 14px;
            color: #6f6f6f;
        }
    }
}
.mz-icon-tanhao{
    color: var(--color-danger)
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}